@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

body{
font-family: 'Caveat', cursive;
}

#img-div{
    width: 1fr;
    text-align: center;
}

#image{
    size: 1fr;
}

body{
    text-align: justify;
}

h1{
    color: #797B84;
    text-align: center;
}

#img-caption{
    color: #797B84;
    font-size: 20px;
}

h3{
    padding-top: 0%;
}