@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

body{
font-family: 'Caveat', cursive;
background-color: #EDD2E0;
}


img{
    width: 1fr;
    align-self: center;
}

body{
    text-align: center;
}

h1{
    color: #797B84;
}

#img-caption{
    color: #797B84;
    font-size: 20px;
}